/* HISTOIRE */

body {
    --white: #E8F5FF;
    --black: black;
    --header_footer_background: #0D47A1;
    --page_background: #E8F5FF;
    --text_background: #E8F5FF;
    --title_color: #0D47A1;
    --text_color: #000000;
    --button_color: #1E88E5;
    --link_color: #356fe1;


    margin: 0px;
    font-family: "Afacad", sans-serif;
}


header {
    background-color: var(--header_footer_background);
    height: 70px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
}


.logo {
    display: flex;
    flex-direction: row;
    margin-left: 3px;
    margin-top: 5px;
}

.entete {
    display: flex;
    flex-direction: column;
}


.logo_site {
    width: 60px;
    height: 60px;
}


.nom_page {
    margin-left: 6px;
    font-size: 20px;
    color: var(--white);
    font-weight: bold;
}


.menu {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80%;
}


.menu button {
    margin-top: 10px;
    background-color: var(--button_color);
    font-weight: bold;
    border: 1px solid black;
    line-height: 300%;
    border-radius: 100px;
    color: var(--white);
    transition: background-color 0.3s ease;
}


.menu button:hover {
    background-color: var(--page_background);
    color: var(--black);
}


.description {
    width: 100%;
    font-size: 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: var(--page_background);
}


.vide {
    height: 80px;
    width: 100%;
}


.ligne {
    display: flex;
    justify-content: space-evenly;
    color: var(--text_color);
    width: 100%;
    margin-bottom: 10%;
    align-items: center;
}

.haut_page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--text_color);
    width: 100%;
    margin-bottom: 10%;
    align-items: center;
}


section .dessous {
    height: 100%;
    width: 45%;
}


.titre {
    margin-bottom: 2vw;
    margin-left: 3.5vw;
    font-size: 3.5vw;
    color: var(--title_color);
}

.titre, .accroche {
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}


.grille {
    margin: 4%;
    background-color: var(--text_background);
}


.txt {
    font-family: "Afacad", sans-serif;
    font-size: 18px;
}

.lien {
    font-weight: bold;
    color: rgb(30, 70, 189);
    text-decoration: none;
}

.pop-up{
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%) translateY(20px); 
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, transform 0.5s ease; 
}

.pop-up.show {
    visibility: visible;
    opacity: 1;
    transform: translateX(-50%) translateY(0); 
}

.pop-up.hide {
    visibility: visible;
    opacity: 0;
    transform: translateX(-50%) translateY(20px);
}

.illustration {
    height: 100%;
    width: 250px;
    object-fit: cover;
}

.illustration2 {
    height: 100%;
    width: 380px;
    object-fit: cover;
    border-radius: 15%;
}

.image-source {
    margin-left: 10px;
    font-size: 15px;
    color: var(--text_color);
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease; 
}

.illustration2:hover + .image-source {
    opacity: 1; 
}


.visible {
    opacity: 1;
}



footer {
    background-color: var(--header_footer_background);
    height: 60px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.copyright {
    color: var(--page_background);
}

footer button {
    margin-top: 10px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
}

.credit {
    margin-top: 10px;   
    font-size: 18px;
    color: var(--white);
}

/* HISTOIRE */
