/****PROJETS FUTURS ****/
html, body {
    height: 100%;
    background-color: #E8F5FF;
    --white: #E8F5FF;
    --black: black;
    --header_footer_background: #0D47A1;
    --page_background: #E8F5FF;
    --text_background: #E8F5FF;
    --title_color: #0D47A1;
    --text_color: #000000;
    --button_color: #1E88E5;
    --link_color: #356fe1;


    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;

}

.dessous {
    display: flex;
    flex-direction: column;
}

.logo_site {
    width: 70px;
}

.nom_page {
    font-size: 10px;
    margin-left: 3px;
    margin-top: 5px;
    color: var(--white);
    font-weight: bold;
}

.menu {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80%;
}

.menu button {
    background-color: var(--button_color);
    font-weight: bold;
    border: 1px solid black;
    line-height: 250%;
    border-radius: 100px;
    color: var(--white);
    transition: background-color 0.3s ease;
}


.menu button:hover {
    background-color: var(--page_background);
    color: var(--black);
}


header {
    background-color: var(--header_footer_background);
    height: 70px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
}

footer {
    background-color: var(--header_footer_background);
    height: 50px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

main {
    padding-bottom: 100px;
    padding-top: 70px;
}

.copyright {
    color: var(--page_background);
}

footer button {
    font-size: 10px;
    display: flex;
    flex-direction: column;
}


section{
    padding-bottom: 20px;
}

/* Style des titres */
#t1{
    text-align: center;
    font-family: 'bai jamjuree',sans-serif;
    font-size: 55px;
    color: #0D47A1;
}

#t3{
    font-family: 'bai jamjuree', sans-serif;
    color:#356FE1;
    text-align: center;
}

.t4{
    font-family: 'bai jamjuree', sans-serif;
    text-align: center;
}

/* Mots en gras */
.bold{
    font-weight: bold;
}

/* Style des paragraphes */
.para{
    font-family: 'afacad',sans-serif;
    font-size: 18px;
    color: white;
    text-align: justify;
    background-color: #0D47A1;
    border-radius: 5px;
    padding: 15px;
}



/* Cacher la case à cocher */
input[type="checkbox"] {
    display: none;
}

.image-container {
    display: flex;
    justify-content: space-around; 
    align-items: flex-start;
}

  /* Conteneur pour chaque image et son texte */
.image-block {
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin: 0 20px;
}



.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    align-items: center; 
  }

/* Style de l'image qui sert de bouton */
label img {
    width: 300px;
    height: auto;
    cursor: pointer;
    transition: opacity 0.3s ease;
    display: block;
    margin-bottom: 10px; /* Espace entre l'image et le texte */
}

/* Effet au survol de l'image */
label img:hover {
    opacity: 0.4;
}

/* Texte caché */
.message {
    display: none;
    font-size: 18px;
    color: #333;
}

  /* Afficher le texte quand la case est cochée */
  input[type="checkbox"]:checked ~ .message {
    display: block;
}
